<div class="row a p-3">

    <div class="col-md-4 d-flex align-items-center">
        <h2>
            Trending Movies <br>
            Right Now
        </h2>
    </div>

    <div *ngFor='let movie of trendingMovies' class="col-md-2 py-2 ">
        <div class=" ">
            <img [src]="imgPrefix+movie['poster_path']" alt="Not Found" class="w-100">
            <h4 class="">{{movie['title']}}</h4>
            <h5 class="btn-mine d-inline-block">{{movie['vote_average']}}</h5>
        </div>
    </div>


</div>
    <div class="row a p-3">

    <div class="col-md-4 d-flex align-items-center">
        <h2>
            Trending Tv <br>
            Right Now
        </h2>
    </div>


    <div *ngFor='let tv of trendingTv' class="col-md-2 py-2">
        <div class=" ">
            <img [src]="imgPrefix+tv['poster_path']" alt="Not Found" class="w-100">
            <h4 class="">{{tv['title']}}</h4>
            <h5 class="btn-mine d-inline-block position-relative">{{tv['vote_average']}}</h5>
        </div>
    </div>
</div>